Source: waybar
Section: x11
Priority: optional
Maintainer: Luis Pabon <luis.pabon@auronconsulting.co.uk>
Build-Depends: debhelper (>= 11),
                      meson,
                      ninja-build,
                      git,
                      pkg-config,
                      libinput10,
                      libinput-dev,
                      wayland-protocols,
                      libwayland-client0,
                      libwayland-cursor0,
                      libwayland-dev,
                      libegl1-mesa-dev,
                      libgles2-mesa-dev,
                      libgbm-dev,
                      libxkbcommon-dev,
                      libudev-dev,
                      libpixman-1-dev,
                      libgtkmm-3.0-dev,
                      libgtk-layer-shell-dev,
                      libjsoncpp-dev,
                      libmpdclient-dev,
                      libnl-3-dev,
                      libnl-genl-3-dev,
                      libpulse-dev,
                      libdbusmenu-gtk3-dev
Standards-Version: 4.3.0
Homepage: https://github.com/Alexays/Waybar

Package: waybar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwlroots0 (>=0.4)
Recommends: sway
Description: Highly customizable Wayland bar for Sway and Wlroots based compositors.
